<footer class="site-footer">
    <p class="copyright">
        &copy; <%= new Date().getFullYear() %>, CSE 340 App
    </p>

    <p class="footer-links">
        <a href="/trigger-error">Trigger Error</a>
    </p>
</footer>