<header class="site-header">
  <div class="header-inner">
    <a class="site-name" href="/">CSE Motors</a>
    <a class="account-link" href="#" aria-label="My Account">My Account</a>
  </div>
</header>