<nav class="site-nav" aria-label="Primary navigation">
    <ul class="nav-list">
        <li><a class="nav-link" href="/">Home</a></li>
        <li><a class="nav-link" href="#">Custom</a></li>
        <li><a class="nav-link" href="#">Sedan</a></li>
        <li><a class="nav-link" href="#">SUV</a></li>
        <li><a class="nav-link" href="#">Truck</a></li>
    </ul>
</nav>