<main class="content">
    <h1 class="page-title">Welcome to CSE Motors!</h1>

    <section class="hero">
        <div class="hero-card">
            <h2 class="hero-title">DMC Delorean</h2>

            <ul class="hero-list">
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>

            <a class="hero-button" href="#">Own Today</a>
        </div>

        <div class="hero-image-wrap">
            <!-- IMPORTANT: change filename if your images folder uses a different name -->
            <img class="hero-image" src="/images/vehicles/delorean.jpg" alt="DMC Delorean" />
        </div>
    </section>

    <section class="lower">
        <section class="upgrades" aria-labelledby="upgrades-heading">
            <h2 id="upgrades-heading" class="section-title">Delorean Upgrades</h2>
        
            <div class="upgrade-grid">
                <a class="upgrade-item" href="#">
                    <div class="upgrade-box">
                        <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" />
                    </div>
                    <span class="upgrade-link">Flux Capacitor</span>
                </a>
        
                <a class="upgrade-item" href="#">
                    <div class="upgrade-box">
                        <img src="/images/upgrades/flame.jpg" alt="Flame Decals" />
                    </div>
                    <span class="upgrade-link">Flame Decals</span>
                </a>
        
                <a class="upgrade-item" href="#">
                    <div class="upgrade-box">
                        <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers" />
                    </div>
                    <span class="upgrade-link">Bumper Stickers</span>
                </a>
        
                <a class="upgrade-item" href="#">
                    <div class="upgrade-box">
                        <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps" />
                    </div>
                    <span class="upgrade-link">Hub Caps</span>
                </a>
            </div>
        </section>


        <section class="reviews" aria-labelledby="reviews-heading">
            <h2 id="reviews-heading" class="section-title">DMC Delorean Reviews</h2>

            <ul class="review-list">
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </section>
    </section>
</main>