<div class="add-class-view">
    <h1>
        <%= title %>
    </h1>

    <%- messages() %>
        <% if (errors) { %>
            <ul class="error-list">
                <% errors.array().forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>

                <form action="/inv/add-classification" method="post">
                    <p>Classification name cannot contain spaces or special characters.</p>
                    <label for="classification_name">Classification Name</label>
                    <input type="text" name="classification_name" id="classification_name" required
                        pattern="^[a-zA-Z0-9]+$">
                    <button type="submit">Add Classification</button>
                </form>
</div>