<div class="management-view">
    <h1>
        <%= title %>
    </h1>

    <%- messages() %>

        <ul class="management-links">
            <li><a href="/inv/add-classification">Add New Classification</a></li>
            <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
        </ul>

        <!-- Inventory Management Section -->
        <h2>Manage Inventory</h2>

        <p>
            Select a classification from the list below to see the inventory items
            that belong to that classification.
        </p>

        <%- classificationSelect %>

            <table id="inventoryDisplay"></table>

            <noscript>JavaScript must be enabled to use this page.</noscript>
</div>

<script src="../../js/inventory.js"></script>