<div class="management-view">
    <h1>
        <%= title %>
    </h1>

    <%- messages() %>

        <ul class="management-links">
            <li><a href="/inv/add-classification">Add New Classification</a></li>
            <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
        </ul>
</div>